# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Xcode user-specific files
xcuserdata/

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
Thumbs.db

# IDE
*.swp
*.swo
*~

# Archives
*.xcarchive

# AI
.claude
CLAUDE.md